
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminPage</h2>

@section scripts {
    <script>
        $(document).ready(function () {
            var sessionID = document.cookie.split("=")[1];
            var sessionIDNum;

            try {
                sessionIDNum = parseInt(sessionID);
            } catch {
                sessionIDNum = 0;
            }

            if (sessionID == "admin" || sessionIDNum > 0) {
                $("#createCauseLink").css("display", "inline");
            }

            if (sessionID == "admin") {
                $("#adminLink").css("display", "inline");
            }
        });
    </script>
}