@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn {
        margin-top: 20px;
    }

    .jumbotron {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container-fluid">
    <div class="jumbotron col-sm-8 offset-2 mt-5">
        <h1>Welcome to Cause Collective!</h1>
        <h4>You've found the place for supporting causes you care about.</h4>
        <h4>Select a button to get started.</h4>
        @Html.ActionLink("View Causes", "ViewCauses", "Home", new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("Login", "Login", "Home", new { @class = "btn btn-primary btn-lg" })
    </div>
</div>

@section scripts {

<script>
    $(document).ready(function () {
        var sessionID = document.cookie.split("=")[1];
        var sessionIDNum;

        try {
            sessionIDNum = parseInt(sessionID);
        } catch {
            sessionIDNum = 0;
        }

        if (sessionID == "admin" || sessionIDNum > 0 ) {
            $("#createCauseLink").css("display", "inline");
            $("#loginLink").css("display", "none");
            $("#logoutLink").css("display", "inline");
        }

        if (sessionID == "admin") {
            $("#adminLink").css("display", "inline");
        }
    });
</script>

}