@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <h1>Logged out</h1>
    <h4>Navigate to homepage</h4>
    @Html.ActionLink("Continue", "Index", "Home", new { @class = "btn btn-lg btn-primary" });
</body>
</html>
